#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffdc71;
}

.initial-message__container {
  max-width: 800px;
}

.initial-message__p {
  font-size: 1.5rem;
  font-weight: 600;
}

.initial-message__link {
  color: rgb(55, 113, 255);
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: rgb(147, 101, 253);
  }
}
